.item {
    flex: 1 1 auto;
    display: flex;
    column-gap: 30px;
    justify-content: center;
    padding: 25px 0;
}

.text__title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.text__info {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}

@media(max-width: 1200px) {

    .item {
        column-gap: 25px;
    }

    .text__title {
        font-size: 21px;
    }
}


