.item {
    flex: 1 1 auto;
    display: flex;
    column-gap: 30px;
    justify-content: center;
    padding: 25px 0;
}

.text__title {
    border: 1px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.text__info {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}


