/* mobile first styling */

.expense-item {
  display: flex;
  align-items: center;
  /* наслідують автоматично border i border-shadow з Card компоненту */
  padding: 0.5rem;
  margin: 1rem 0!important;


  background-color: #4b4b4b !important;
}

.expense-item__description {
  display: flex;
  text-align: right;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
  /* властивість flex це скорочена форма запису flex-grow = 0, flex-shrink = 1 і flex-basis = auto */
}

/* При значенні flex: 1 значення flex-grow буде 1, тобто елемент зможе розширятися на доступне вільне місце  
  flex-shrink буде теж 1, що дасть змогу звужуватись при необхідності, 
  а flex-basis буде рівне 0, що значить елемент буде займати точно таку ширину, яка йому потрібна для свого коректного віжображення без жодних відствупів
    */

.expense-item h2 {
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: white;
}

.expense-item__price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}

@media (min-width: 580px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
  }

  .expense-item__description h2 {
    font-size: 1.25rem;
  }

  .expense-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}