.slider {
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.slideWrapper {
   
    
}

.item-wrapper {
    position: relative;
    width: 400px;
}

.prevButton, .nextButton {
    
    transform: translateY(-50%);
}

.nextButton {
    right: 5%!important;
}

.prevButton {
 left: 5%!important;
}


.activeButton {
    transform: translateY(0%)!important;
}




