.mobile-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-bar__arrow1 {
    margin-left: 5px;
    flex: 0 0 30px;
}

.nav-bar__arrow2 {
    margin-right: 5px;
    flex: 0 0 30px;
}


/* hover buttons */

.nav-bar__arrow1:hover, .nav-bar__arrow2:hover {
    transform: scale(1.2);
    cursor: pointer;
}
/*end hover buttons*/



/* cssTransition */
.slide-wrapper {
    width: 100%;
    position: relative;

}

/* transition right */
.next-slide-enter {
    opacity: 0;
    left: 0%;
}

.next-slide-enter-active {
    opacity: 1;
    left: 50%;
    transition: opacity .5s ease-in-out, left 1.1s ease
}

.next-slide-enter-done {
    left: 50%;
}


.next-slide-exit {
    opacity: .5;
    transition: opacity .5s ease-in-out, left 1s ease-out;
    left: 100%;
}

.next-slide-exit-active {
    opacity: 0;
    left: 100%
}

.next-slide-exit-done {
    right: 0%;
    transition: right 1s ease;
}

/* end transition right */

/* transition left */
.prev-slide-enter {
    opacity: 0;
    left: 100%;
}

.prev-slide-enter-active {
    opacity: 1;
    left: 50%;
    transition: opacity .5s ease-in-out, left 1.1s ease
}

.prev-slide-enter-done {
    left: 50%;
}


.prev-slide-exit {
    opacity: .5;
    transition: opacity .5s ease-in-out, left 1s ease-out;
    left: 50%;
}

.prev-slide-exit-active {
    opacity: 0;
    left: 0%
}

.prev-slide-exit-done {
    left: 0%;
    transition: right 1s ease;
}

/* end transitionn left */

