@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Poppins:wght@300;400;500&display=swap');


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
}

.wrapper {
  background-color: black;
  box-sizing: border-box;
  overflow: clip;
  font-family: 'Poppins';
}

[class*='__container'] {
  margin: 0 auto;
  max-width: 1300px; /*regular width: 1280 - +20 px for container padding*/
  padding: 0 10px; /*padding for safety*/
}
