.main-introduction {
    z-index: 10;

}

/* header */

.introduction__header {
    margin-bottom: 104px;
}

/* end header */

/* middle section */


.introduction__middleSection {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    column-gap: 50px;
}

.middleSection__picture {
    flex: 0 0 524px;
}

.picture__img-man {
    border-radius: 240px 100px;
    display: block;
    max-width: 524px;
    width: 100%;
    max-height: 557px;
    z-index: 10;
    position: relative;
    /*для того, щоб вектори були під контентом, по іншому не працює поки*/
    object-fit: cover;
}

/* text */

.middleSection__information {
    z-index: 10;
    max-width: 630px;
}

.title__top {
    font-weight: 700;
    margin-bottom: 5px;
}

.title__bottom {
    font-weight: 300;
    margin-bottom: 42px;
}

.title__top,
.title__bottom {
    color: #FFF;
    font-family: Montserrat;
    font-size: 36px;
    text-transform: uppercase;
}

.information__text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
}

.information__button {
    color: black;
    border: none;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    transition: all .3s ease;
}

.information__button:hover {
    background: linear-gradient(90deg, #8270c7 0%, #776ca8 100%);
    color: white;
}

/* end text */

/* footer */

.introduction__footer {
    margin-top: 111px;
}

/* end footer */

/* vectors */

.middleSection__vector1,
.middleSection__vector2 {
    position: absolute;
    top: 0;
    z-index: 1;
    stroke-width: 6px;
    stroke: #343045;
}

.middleSection__vector1 {
    max-width: 1449px;
    height: 256.676px;
    top: 16px;
}

.middleSection__vector2 {
    max-width: 1445px;
    height: 211.75px;
    top: 301px;
}



/* end vectors */

/* end middle section */

/* MEDIA */

@media(max-width: 1120px) {
   
}

/* MEDIA END */